{% extends 'layout.html' %}

{% block content %}

{% load static %}

<!-- Hero Section -->
<header class="row bg-black">
  <div class="col-md-4">
    <div class="rounded mt-5">
      <img src="{% static 'portfolio/especialista.jpg' %}" class="w-100"/>
    </div>
  </div>
  <div class="col-8 my-auto p-4">
    <h1><strong> Ing. Daniel Arao</strong></h1>
    <h3>Desarrollador Python</h3>
    <p>Soy un desarrollador versátil con Python, realizo web scraping con Scrapy, manejo de frameworks backend como FastAPI, Django y DjangoREST.
      Realizo integraciones API, analisis exploratorio de datos y cuento habilidades en HTML, CSS, Bootstrap.  Actualmente estoy estudiando machine learning y React. Siempre estoy buscando aprender cosas nuevas y mejorar mis habilidades para crear soluciones efectivas y eficientes.</p>
      <div class="social-icons text-end">
        <a href="https://github.com/araod14" target="_blank"><img src="{% static 'portfolio/icons/icons8-github-48.png' %}" alt="Github" width="45" height="45"></a>
        <a href="https://www.linkedin.com/in/daniel-arao-0b7618164/" target="_blank"><img src="{% static "portfolio/icons/icons8-linkedin-48.png" %}" alt="Twitter" width="45" height="45"></a>
        <a href="https://twitter.com/AraoDev" target="_blank"><img src="{% static 'portfolio/icons/icons8-twitter-48.png' %}" alt="Linkenid" width="45" height="45"></a>
      </div>
  </div>
</header>

<!-- Porfolio Section -->
<div class="row mt-2 text-center">

  <h3>Proyectos</h3>
  <p>Estos son algunos de mis proyectos, espero que los encuentres interesantes, siempre los estoy mejorando!</p>

  {% for project in projects %}
  <div class="col-md-4 p-4">
    <div class="card bg-black card-project">
      <img src="{{project.image.url}}" class="card-img-top" />

      <div class="card-body">

        <h2>{{ project.title }}</h2>
        <div class="badge">
          <h6><span class="badge bg-primary">{{ project.framework }}</span>
          {% if project.database %}
          <span class="badge bg-secondary">{{ project.database }}</span></h6>
          {% endif %}
        </div>
        <div class="text-start">
          <p>{{ project.description }}</p>
        </div>
        <div class="linkproject">
          {% if project.url %}
          <a href="{{project.url}}" class="btn btn-secondary" target="__blank" rel="noreferrer" >Visita el
            Proyecto</a>
        {% endif %}
      </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

    
<!-- Pie de pagina (footer) -->
<footer class="d-flex flex-column align-items-center"> 
  <p class="footer-texto text-center">Aprendo y soluciono todos los días.</p>
  <div class="derechos-de-autor">Creado por Darao (2023) &#169;</div>
  </footer>



{% endblock %}